$color-1: #ffcc00;
$color-2: #ff9900;
$color-3: #ff6600;
$color-4: #cc3399;
$color-5: #990066;
$color-6: #3399cc;
$color-7: #006699;
$color-8: #ccee66;
$color-9: #99cc33;

$background: #cfdbd5;
$color: #2C394A;
$heading: #f4978e;   

$blink-speed: 4s;
$speed: 2s;
$animation-speed: .29s;